<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    <h1>{{product.title}}</h1>
    <form action="{{ url_for('update_product') }}" method="post">
        <input type="hidden" name="old_title" value="{{product.title}}"/>
        <input type="text" name="title" value="{{product.title}}"/>
        <input type="number" name="comments" value="{{product.comments}}"/>
        <input type="number" name="price" value="{{product.price}}"/>
        <input type="text" name="url" value="{{product.url}}"/>
        <input type="submit" value="Confirm"/>
    </form>
</body>
</html>